html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    margin: 0;
    padding: 0;
}

.terminal {
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    min-height: calc(100vh);
    max-height: calc(100vh);
}

#uploader {
    position: absolute;
    top: -1000px;
    left: -1000px;
}
